.container {
    display: flex;
}

.div1, .div2 {
    flex: 1; /* Ambos divs tendrán el mismo tamaño */
    /* O puedes ajustar el tamaño individualmente */
}

.container{

    display: flex;
}

.div1{

    margin-right: 2%;
}

.container{

    display: flex;
}

.div2{

    margin-right: 2%;
}

.container{

    display: flex;
}

.div3{

    margin-right: 2%;
}

.container{

    text-align: center;
}